@font-face {
    @import 
    url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
  }


h1, h2{
    font-family: kavoon;
    color: white
}

header{
    background-color: #484FB7;
}

html{
    background-color: #484FB7;
}
body{
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}
p{
    font-family: inter;
    color:black
}

h1{
    font-size: 3em;
}

nav, h2,{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    color: #E9BB57;
}

h4{
    font-size: 1.15em;
    color:#6B8FE7;
}
#development, #career, #relationship, #community, #focused,#workshop, #flexible{
    background-color: white;

}

#menu{
    background-color: #E9BB57;
}

ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: white;
    color:#484FB7
    margin-bottom: 10px;
    padding: 10px ;
}

/* Colors
Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; 
*/
